.App {
  text-align: center;
}

.App-header {
  background-image: url('scenery-header.gif');
  background-size: cover;
  height: 335px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2.5em;
  text-shadow: 0px 5px 40px lightskyblue;
}

.App-intro {
  font-size: large;
}

.logo{
  width: 255px;
  height: 130px;
  border-radius: 2pc;
  padding: 5px;
}

#logo-container{
  background: blue;
  border: 2px solid white;
  border-radius: 2pc;
  width: 275px;
  height: 140px;
  margin: 2px auto;
}

#mission{
  border: 2px solid white;
  height: 140px;
  width: 375px;
  padding: 10px;
  margin: 25px auto;
  box-shadow: 0px 0px 20px 5px;
  border-radius: 1pc;
  overflow: scroll;
  background: rgba(255,255,255,0.8)
}

#statement{
  text-shadow: 2px 5px 40px;
}

.navBar{
  border: 2px solid white;
  border-radius: 1pc;
  height: auto;
  width: 340px;
  background-color: rgba(0,0,0,0.8);
  margin: 20px auto;
  padding: 10px;
}
 a{
   color: white
 }
.navButton{
  border: 2px solid blue;
  box-shadow: 0px 0px 5px 2px skyblue;
  border-radius: 2pc;
  padding: 5px;
  margin: 15px 5px auto;
  background: blue;
  color: white;
}
.navButton:hover{
  border: 2px solid lightskyblue;
  box-shadow: 0px 0px 5px 2px;
  border-radius: 2pc;
  padding: 5px;
  margin: 15px 5px auto;
  background: lightskyblue;
  color: white;
  width: 100px;
}

.about{
  display: inline-flex;
  padding: 0px;
}

li{
  text-align: left;
  font-size: 28px;
  color: white
}

#interests{
  border: 2px solid white;
  height: 215px;
  width: 350px;
  padding: 10px;
  margin: -50px auto;
  box-shadow: 0px 0px 20px 5px;
  border-radius: 1pc;
  overflow: scroll;
  background: rgba(255,255,255,0.7)
}
#education{
  border: 2px solid white;
  height: 140px;
  width: 375px;
  padding: 10px;
  margin: 25px auto;
  box-shadow: 0px 0px 20px 5px;
  border-radius: 1pc;
  overflow: scroll;
  background: rgba(255,255,255,0.7)
}
#experiences{
  border: 2px solid white;
  height: 215px;
  width: 350px;
  padding: 10px;
  margin: -50px auto;
  box-shadow: 0px 0px 20px 5px;
  border-radius: 1pc;
  overflow: scroll;
  background: rgba(255,255,255,0.7)
}
